*~
*.la
*.lo
*.mo
*.o
*.pc
*.swp
tags
/tags
cscope.*
cscope_py.*
Makefile
config.*
contrib/Makefile
doc/Makefile
src/Makefile
autom4te.cache/
.cache/
ltmain.sh
src/cscope
src/egrep.c
src/fscanner.c
config.h
compile_commands.json
